body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfdec;
    color: #333;
    line-height: 1.6;
}

header,footer{
    background-color: #9ad9e9ee;
    color:#af95e1;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
  }

nav a {
    display: inline-block;
    margin-top: 15px;
    color: #e91e63;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}
  
nav a:hover {
    color: #b0003a;
    text-decoration: underline;
}  

ul {
    list-style-type: disc;
    padding-left: 20px;
}
  
li {
    margin-bottom: 10px;
}